<nav class="primary spread">
  <div class="container">
    <ul class="grid middle row">
      <li class="logo">
        <a href="/?lang=en">
          <img src="/image/nodeshop.png" alt="Nodeshop.nl">
        </a>
      </li>
      <li class="box">
        <a href="/training/?lang=en">
          Training
        </a>
      </li>
      <li class="box">
        <a href="/support/?lang=en">
          Support
        </a>
      </li>
      <li class="box">
        <a href="/ontwikkeling/?lang=en">
          Module development
        </a>
      </li>
      <li class="box">
        <a href="/team/?lang=en">
          Team
        </a>
      </li>
      <li class="box">
        <a href="/blog/?lang=en">
          Blog
        </a>
      </li>
    </section>
  </div>
</nav>